<html>
<head>
  <title>Steven's Home Automation Hub</title>
</head>

<table>
<% for(var i=0; i < scenes.length; i++) { %>
   <tr>
     <td><a href=/lights/<%= scenes[i] %>><%= scenes[i] %></a></td>
   </tr>
<% } %>
</table>

<br>
<br>

<form method="post" action="/brightness">
  <input type="submit" onClick="update()" value="Brightness">
  <input type="text" name="brightness" value="1-255">
  <input type="hidden" name="brightness1" id="value1">
  <input type="hidden" name="brightness2" id="value2">
  <input type="hidden" name="brightness3" id="value3">
</form>
  
<script>
    var x = document.createElement("INPUT");
    x.setAttribute("type", "range");
    document.body.appendChild(x);

    var y = document.createElement("INPUT");
    y.setAttribute("type", "range");
    document.body.appendChild(y);

    var z = document.createElement("INPUT");
    z.setAttribute("type", "range");
    document.body.appendChild(z);

    function update(){
    	document.getElementById("value1").value = x.value
    	document.getElementById("value2").value = y.value
    	document.getElementById("value3").value = z.value
    }
</script>

<br>
<br>

<a href='/'>Index</a>
</html>