<html>
<head>
  <title>Steven's Home Automation Hub</title>
</head>

<table>
<% for(var i=0; i < scenes.length; i++) { %>
   <tr>
     <td><a href=/lights/<%= scenes[i] %>><%= scenes[i] %></a></td>
   </tr>
<% } %>
</table>

<br>
<br>


<form method="post" action="/set_scene">
  <input type="submit" value="color">
  Strip: <input class="jscolor"   name='strip_color' value="ab2567">
  Bloom 1: <input class="jscolor" name='bloom_1_color' value="ab2567">
  Bloom 2: <input class="jscolor" name='bloom_2_color' value="ab2567">
</form>

<a href='/'>Index</a>

<script src="jscolor.min.js"></script>
</html>